body {
  margin: 0;
  padding-bottom: 2em;
  background-color: #fff8f2;
  color: #131312;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.container {
  padding-left: 7.21em;
  padding-right: 7.21em;
  padding-top: 2em;
  padding-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

@media screen and (max-width: 959px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #131312;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #131312;
  padding-bottom: 0.8%;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #131312;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
