<div class="main-window">
  <div class="top-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="dots">
      <div class="dot" *ngFor="let dot of dot_count_array"></div>
    </div>
    <div class="window-title">
      {{ windowTitle }}
    </div>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
