.main-window {
  border: 2px solid #131312;
  display: block;
  background-color: #fff8f2;
  .top-bar {
    padding: 1.1vw 1.8vw;
    border-bottom: 2px solid #131312;
    display: block;
    .dots {
      .dot {
        background-color: #131312;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 6px;
        position: relative;
      }
    }
  }
  .content {
    .image {
      width: 100%;
      display: block;
    }
    .text {
      font-family: 'Libre Baskerville';
      padding: 2vw 4.167vw;
      text-align: center;
      font-size: 2vw;
      line-height: 2vw;
    }
  }
}
