.main-title-container {
  height: 19vw;
  .main-title {
    font-size: 5.5vw;
    line-height: 5.5vw;
    font-family: 'Inconsolata', monospace;
    .typing {
      display: inline;
      font-family: inherit;
      font-size: inherit;
    }
  }
}

.mission-container {
  margin-top: 25px;
  .mission-header {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    @media screen and (max-width: 959px) {
      position: inherit;
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
    }
    @media screen and (min-width: 3000px) {
      position: relative;
    }
    .mission-header-text {
      font-family: 'Libre Baskerville';
      padding: 2vw 4.167vw;
      text-align: center;
      font-size: 2vw;
      line-height: 2vw;
      @media screen and (max-width: 959px) {
        padding: 4vw 4.167vw;
        font-size: 4vw;
        line-height: 3vw;
      }
    }
  }
  .fifty-split {
    padding-top: 52px;
    @media screen and (max-width: 959px) {
      padding-top: 0px;
    }

    .mission-text {
      font-size: 1.5vw;
      line-height: 2.5vw;
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 30px;
      text-align: justify;
    }

    @media screen and (max-width: 959px) {
      .mission-text {
        font-size: 4.5vw;
        line-height: 5.5vw;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .mission-image-content {
      width: 100%;
      display: block;
    }
  }
}
