<div class="container">
  <div class="main-title-container" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="main-title">
      <ngx-typed-js
        [strings]="[
          'Association Générale des Étudiants et Étudiantes en Informatique 💻',
          'Association Générale des Étudiants et Étudiantes en Informatique 🎉',
          'Association Générale des Étudiants et Étudiantes en Informatique 🚩',
          'Association Générale des Étudiants et Étudiantes en Informatique 👨‍💻',
          'Association Générale des Étudiants et Étudiantes en Informatique 💽',
          'Association Générale des Étudiants et Étudiantes en Informatique 👩‍💻',
          'Association Générale des Étudiants et Étudiantes en Informatique 🥳'
        ]"
        [backDelay]="5000"
        [smartBackspace]="true"
        [typeSpeed]="50"
      >
        <h1 class="typing"></h1>
      </ngx-typed-js>
    </div>
  </div>
  <div class="mission-container">
    <app-funny-window class="mission-header">
      <div class="mission-header-text" fxLayoutAlign="center start">NOTRE MISSION</div>
    </app-funny-window>
    <div class="fifty-split" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center">
      <app-funny-window fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexOrder.gt-sm="1" fxFlexOrder.lt-md="2" fxLayout="row" fxLayoutAlign="center center">
        <img class="mission-image-content" src="assets/accueil/accueil-1.jpg" />
      </app-funny-window>
      <div fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexOrder.gt-sm="2" fxFlexOrder.lt-md="1" class="mission-text">
        L’association générale des étudiantes et étudiants en informatique a pour but de regrouper les étudiants en
        informatique de l’Université du Québec à Montréal et d’assurer, dans le cadre des affaires universitaires, leur
        bienêtre physique, moral, intellectuel, social et économique.
      </div>
    </div>
  </div>
</div>
